<div class="wrapper" *transloco="let t">
  <div class="level__picker__wrapper">
    <button mat-button class="level__picker" (click)="start(1)">{{t('levels.easy')}}</button>
    <button mat-button class="level__picker" (click)="start(2)">{{t('levels.medium')}}</button>
    <button mat-button class="level__picker" (click)="start(3)">{{t('levels.hard')}}</button>
  </div>

  @if (play || isSuccess == 1) {
    <div class="board">
      <div class="historical">
        @for (historicRow of historicColors; track $index) {
          <div class="ball__row">
            @for (historicBall of historicRow; track $index) {
              <div [class]="'ball __' + historicBall + ' historic'"></div>
            }
          </div>
          }
          @if (wrongColorsError) {
            <div class="error">
              {{t('mastermindError')}}
            </div>
          }
      </div>
      <div class="actual">
        <div class="ball__row">
          @for (ball of visibleBallsColors; track $index) {
            <div [class]="'ball __' + ball" (click)="changeColor($index)"></div>
          }
        </div>
        <div class="check">
          <button mat-flat-button (click)="check()">
            {{t('check')}}
          </button>
        </div>
      </div>
    </div>
  }

  <div class="messages">
    @if (play) {
      <span class="level__info">
        {{t('turns')}}: {{ turns }}
      </span>
      <span class="level__info">
        {{t('time')}}: 0:{{ seconds | number: '2.0' }}
      </span>
    }
    @if (isSuccess == 1) {
      <h1>{{t('youWon')}}</h1>
      <h3>{{t('score')}} {{ youScore }}</h3>
      <h4>{{t('yourTime')}} {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}</h4>
      <button mat-stroked-button class='reset' (click)="start()">{{t('startAgain')}}</button>
    }
  </div>
</div>
