<div class="wrapper">
  <h1>Welcome in Mastermind</h1>

  <div class="level__picker__wrapper">
    <button mat-button class="level__picker" (click)="start(1)">Easy</button>
    <button mat-button class="level__picker" (click)="start(2)">Medium</button>
    <button mat-button class="level__picker" (click)="start(3)">Hard</button>
  </div>

  @if (play || isSuccess == 1) {
    <div class="board">
      <div class="historical">
        @for (historicRow of historicColors; track $index) {
          <div class="ball__row">
            @for (historicBall of historicRow; track $index) {
              <div [class]="'ball __' + historicBall + ' historic'"></div>
            }
          </div>
          }
          @if (wrongColorsError) {
            <div class="error">
              You have to change color of every ball first
            </div>
          }
      </div>
      <div class="actual">
        <div class="ball__row">
          @for (ball of visibleBallsColors; track $index) {
            <div [class]="'ball __' + ball" (click)="changeColor($index)"></div>
          }
        </div>
        <div class="check">
          <button mat-flat-button (click)="check()">
            Check
          </button>
        </div>
      </div>
    </div>
  }

  <div class="messages">
    @if (play) {
      <span class="level__info">
        Turns: {{ turns }}
      </span>
      <span class="level__info">
        Time 0:{{ seconds | number: '2.0' }}
      </span>
    }
    @if (isSuccess == 1) {
      <h1>You won</h1>
      <h3>Your score {{ youScore }}</h3>
      <h4>Your time {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}</h4>
      <button mat-stroked-button class='reset' (click)="start()">Start again?</button>
    }
  </div>
</div>
