<div class="wrapper">
  <h1>Hello in Memory!</h1>

  <div class="level__picker__wrapper">
    <button mat-button class="level__picker" (click)="start(1)">Easy</button>
    <button mat-button class="level__picker" (click)="start(2)">Medium</button>
    <button mat-button class="level__picker" (click)="start(3)">Hard</button>
  </div>

  @if (play) {
    <div class="board">
      @for (item of cardsOrder; track $index) {
        <img
        [src]="'/assets/images/memory_images/'+(firstNr == $index  ? item : secondNr == $index ? item : '0') +'.png'"
        (click)="reveal_card($index)"
        [class]="(hidden[$index] == 1 ? 'hidden ' : 'image ') + (firstNr == $index  ? 'revealed' : secondNr == $index ? 'revealed' : '')"
        >
      }
    </div>
  }
  <div class="messages">
    @if (play) {
      <span class="level__info">
        Turn counter: {{ turns }} <br>
        Time {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}
      </span>
    }
    @if (isSuccess == 1) {
      <div class="success">
        <h1>You WON</h1>
        <span class="score">Your score {{ youScore }}</span>
        <span>Your time {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}</span>
        <span>Turns taken {{ turns }}</span>
        <button mat-stroked-button class='reset' (click)="start()">Start again?</button>
      </div>
    }
    @if (isSuccess == -1) {
      <h1>You LOST</h1>
      <button mat-stroked-button class='reset' (click)="start()">Start again?</button>
    }
  </div>
</div>
