<div class="wrapper">
  <h4>Here are game fundamentals:</h4>
  <ol>
    <li>Click on the circle to change its color</li>
    <li>Click "check" button to see if you found the right combination</li>
    <li>
      After checking you may see some number of white/black circles next to your combination.
      White circle means that you guessed one of the balls' colors correctly, but placed it in the wrong spot.
      Black circle means that you guessed one of the balls correctly (both color and position).
    </li>
    <li>Your goal is to guess the right combination of colors</li>
    <li>You get points based on the number of turns you needed and overall time it took you to complete the task</li>
  </ol>
</div>
