<div class="wrapper">
  <h4>Here are game fundamentals:</h4>
  <ol>
    <li>Click with your left mouse button on the hidden square</li>
    <li>
      You can uncover 3 types of fields:
      <ul>
        <li>
          <img src="/assets/images/minesweeper_images/b0.png" alt=""> - The field doesn't have any bomb nearby,
        </li>
        <li>
          <img src="/assets/images/minesweeper_images/b5.png" alt=""> - The field has as many bombs on the fields around it,
          as the number tells (e.g. this field has five bombs on the fields around it),
        </li>
        <li>
          <img src="/assets/images/minesweeper_images/bomb.png" alt="cos"> - You were unlucky to find the bomb, the game is over.
          You can try again.
        </li>
      </ul>
    </li>
    <li>Your task is to uncover all of the fields that are not bombs</li>
    <li>
      <img src="/assets/images/minesweeper_images/flag.png" alt=""> Click with your right mouse button to place a flag.
      It will help you to remember where you think the bombs are.
    </li>
    <li>You get points based on the completion time (you don't get any points if you uncover the bomb)</li>
    <li>On harder levels the board is bigger and there are more bombs, but you get more points too</li>
  </ol>
</div>
