<div class="wrapper" *transloco="let t; prefix: 'minesweeperTips'">
  <h4>{{t('1')}}</h4>
  <ol>
    <li>{{t('2')}}</li>
    <li>
      {{t('3')}}
      <ul>
        <li>
          <img src="/assets/images/minesweeper_images/b0.png" alt=""> - {{t('4')}}
        </li>
        <li>
          <img src="/assets/images/minesweeper_images/b5.png" alt=""> - {{t('5')}}
        </li>
        <li>
          <img src="/assets/images/minesweeper_images/bomb.png" alt="cos"> - {{t('6')}}
        </li>
      </ul>
    </li>
    <li>{{t('7')}}</li>
    <li>
      <img src="/assets/images/minesweeper_images/flag.png" alt=""> {{t('8')}}
    </li>
    <li>{{t('9')}}</li>
    <li>{{t('10')}}</li>
  </ol>
</div>
