:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level__picker__wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.level__picker {
  font-size: 20px;
}

.board {
  background-color: green;
  padding: 20px;
  min-height: 500px;
  padding-bottom: 100px;
}

.actual__board {
  display: flex;
  gap: 10px;
}

.first__row {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.completed__row {
  border: 2px solid white;
  border-radius: 20px;
  width: 300px;
  height: 110px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}

.additional__cards {
  padding-left: 60px;
  display: flex;
  position: relative;
}

.column {
  width: 70px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
}

.card {
  width: 70px;
  height: 90px;
  border-radius: 10px;
  position: relative;
  margin-top: -60px;
  background: url("/assets/images/solitaire_images/rewers.png") center/cover;
}

.card__in__row {
  margin-top: 0;
  margin-left: -80px;
}

.completed__card {
  margin-top: 0;
  margin-right: -40px;
}

.revealed {
  border: none;
}

.card {
  z-index: var(--index);
}

.image {
  width: inherit;
  height: inherit;
}

.empty {
  background: none;
  border-radius: 10px;
  border: 2px solid white;
  background-color: green;

  h1 {
    display: none;
  }
}

.covered {
  display: none;
}

.active {
  border-radius: 10px;
  color: yellow;
  border: 2px solid yellow;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.error {
  border-radius: 10px;
  border: 2px solid red;
  animation: shake 0.5s linear;
}
