<div class="wrapper" *transloco="let t">
  <div class="level__picker__wrapper">
    <button mat-button class="level__picker" (click)="start(1)">{{t('levels.easy')}}</button>
    <button mat-button class="level__picker" (click)="start(2)">{{t('levels.medium')}}</button>
    <button mat-button class="level__picker" (click)="start(3)">{{t('levels.hard')}}</button>
  </div>

  @if (play) {
    <div class="board">
      @for (hole of holesIds; track $index) {
        <div class="background">
          <div
            [class]="'hole ' + (hole == 1 ? 'revealed__hole' : '')"
            (click)="whack($index)"
          >
          </div>
        </div>
      }
    </div>
  }
  <div class="messages">
    @if (play) {
      <span class="level__info">
        {{t('points')}}: {{ points }}
      </span>
      <span class="level__info">
        {{t('time')}} 0:{{ seconds | number: '2.0' }}
      </span>
    }
    @if (isSuccess == 1) {
      <h1>{{t('youWon')}}</h1>
      <h3>{{t('yourScore')}} {{ youScore }}</h3>
      <h4>{{t('yourPoints')}} {{ points }}</h4>
      <button mat-stroked-button class='reset' (click)="start()">{{t('startAgain')}}</button>
    }
  </div>
</div>
