@import '../../../../../styles/variables/breakpoints';

:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.level__picker__wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.level__picker {
  font-size: 20px;
}

.board {
  display: grid;
  gap: 5px;
  width: 85vw;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color: green;
  border-radius: 10px;

  @media (min-width: $screen-600) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: $screen-840) {
    grid-template-columns: repeat(6, 1fr);
    width: 70vw;
  }

  @media (min-width: $screen-1024) {
    width: 700px;
    padding: 30px;
    gap: 10px;
  }
}

.background {
  width: 60px;
  height: 60px;
  margin: 5px;

  @media (min-width: $screen-600) {
    width: 75px;
    height: 75px;
  }

  @media (min-width: $screen-1024) {
    width: 100px;
    height: 100px;
  }
}

.hole {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: rgb(29, 29, 29);
  border: 3px solid black;
  }

.revealed__hole {
  background-color: yellow;
  cursor: pointer;
}

.messages {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.level__info {
  font-size: 16px;
}

.reset {
  font-size: 16px;
}
