:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level__picker__wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.level__picker {
  font-size: 20px;
}

.board {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  width: 700px;
  padding: 30px;
  background-color: green;
  border-radius: 10px;
}

.background {
  flex-basis: calc(25% - 10px);
  width: 100px;
  height: 100px;
  margin: 5px;
}

.hole {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: rgb(29, 29, 29);
  border: 3px solid black;
  }
  
.revealed__hole {
  background-color: yellow;
  cursor: pointer;
}

.messages {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.level__info {
  font-size: 16px;
}

.reset {
  font-size: 16px;
}
