<div class="wrapper">
  <h4>Here are game fundamentals:</h4>
  <ol>
    <li>Click on the image you want to uncover</li>
    <li>Click on the second image and, if they are not the same, try to remember their content and position, as they will cover back in a moment</li>
    <li>If the pictures were the same, they will disappear and you don't have to think of them anymore</li>
    <li>You get points for clearing the board</li>
    <li>The fewer turns and time you spend, the more points you'll get</li>
  </ol>
</div>
