@import 'src/styles/variables/palette.scss';

:host {
  display: block;
}

.topbar__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  padding: 20px;
  margin: 0;

  &__button {
    background-color: map-get($map: $pw-grey, $key: 200);
  }
}

.hidden {
  display: none;
}
