@import '../../../../styles/variables/palette.scss';
@import '../../../../styles/variables/breakpoints';

:host {
  display: block;
}

.topbar__wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: map-get($map: $pw-primary, $key: 900);
  padding: 25px;
  align-items: center;

  margin: 0;

  &__button {
    width: 160px;
    background-color: map-get($map: $pw-grey, $key: 100);
    border-radius: 5px;

    &__element {
      width: 100%;
    }
  }
}

.hidden {
  display: none;
}

.title {
  display: none;
  text-align: center;
  color: rgb(185, 255, 144);
  font-size: 20px;
  font-family: "Seymour One", sans-serif;
  word-spacing: 0.5cm;

  @media (min-width: $screen-1024) {
    display: inline;
    font-size: 30px;
  }

  @media (min-width: $screen-1440) {
    display: inline;
    font-size: 50px;
  }
}

