:host {
  display: block;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 100px;
}

.back {
  position: absolute;
  top: 30px;
  left: 30px;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.buttons__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tab__button {
  font-size: 18px;
  width: 140px;
  height: 60px;
}

.tips__wrapper {
  width: 40%;
}
