<div class="wrapper">
  <h1 class="title">WELCOME TO THE GAME</h1>
  <div class="buttons__wrapper">
    <button (click)="isGame = true" [disabled]="isGame">Game</button>
    <button (click)="isGame = false" [disabled]="!isGame">Scoreboard</button>
  </div>
  @if (isGame) {
    <div class="game__wrapper">
      @switch (gameName) {
        @case ("minesweeper") {
          <pw-minesweeper (score)="receiveDataFromChild($event)"/>
        }
        @case ("memory") {
          <pw-memory (score)="receiveDataFromChild($event)"/>
        }
      }
    </div>
  }
  @else {
    <div class="scoreboard__wrapper">
      <pw-scoreboard [scores]="activeScores"/>
    </div>
  }
</div>