<div class="wrapper">
  <button mat-stroked-button class="back" (click)="goBack()">Go back</button>
  <h1 class="title">WELCOME TO THE GAME</h1>
  <div class="buttons__wrapper">
    <button class="tab__button" mat-raised-button (click)="isGame = true" [disabled]="isGame">Game</button>
    <button class="tab__button" mat-raised-button (click)="isGame = false" [disabled]="!isGame">Scoreboard</button>
  </div>
  @if (isGame) {
    <div class="game__wrapper">
      @switch (gameName) {
        @case ("minesweeper") {
          <pw-minesweeper (score)="receiveDataFromChild($event)"/>
        }
        @case ("memory") {
          <pw-memory (score)="receiveDataFromChild($event)"/>
        }
        @case ("whack-a-mole") {
          <pw-whack-a-mole (score)="receiveDataFromChild($event)"/>
        }
        @case ("mastermind") {
          <pw-mastermind (score)="receiveDataFromChild($event)"/>
        }
      }
    </div>
  }
  @else {
    <div class="scoreboard__wrapper">
      <pw-scoreboard [scores]="activeScores"/>
    </div>
  }
</div>
