<div class="wrapper">
  <button mat-stroked-button class="back" (click)="goBack()">Go back</button>
  <h1 class="title">WELCOME TO THE GAME</h1>
  <div class="buttons__wrapper">
    <button class="tab__button" mat-raised-button (click)="isGame = true" [disabled]="isGame">Game</button>
    <button class="tab__button" mat-raised-button (click)="isGame = false" [disabled]="!isGame">Scoreboard</button>
  </div>
  @if (isGame) {
    @if (activeGame$ |async; as activeGame) {
      <div class="tips__wrapper">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="helpOpenState = true"
            (closed)="helpOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                How to play?
              </mat-panel-title>
              <mat-panel-description>
                {{helpOpenState ? 'Hide tips' : 'Show tips'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngComponentOutlet="activeGame.tips"/>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="game__wrapper">
        <ng-container *ngComponentOutlet="activeGame.game"/>
      </div>
    }
  }
  @else {
    <div class="scoreboard__wrapper">
      <pw-scoreboard />
    </div>
  }
</div>
