:host {
  display: block;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.title {
  text-align: center;
}

.buttons__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

// .game__wrapper {

// }

// .scoreboard__wrapper {

// }