@import '../../../../../styles/variables/breakpoints';

:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level__picker__wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.level__picker {
  font-size: 20px;
}

.board {
  padding: 10px;
  background-color: aqua;
  border: 2px solid #74512D;
  border-radius: 10px;

  @media (min-width: $screen-600) {
    padding: 15px;
  }

  @media (min-width: $screen-840) {
    padding: 20px;
    border-width: 5px;
  }

  @media (min-width: $screen-1600) {
    padding: 40px;
  }
}

.row {
  display: flex;
}

.field {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $screen-600) {
    width: 25px;
    height: 25px;
  }

  @media (min-width: $screen-1150) {
    width: 30px;
    height: 30px;
  }
}

.bomb {
  background-image: url('/assets/images/minesweeper_images/bomb.png');
  width: 20px;
  height: 20px;
  background-size: cover;

  @media (min-width: 600px) {
    width: 25px;
    height: 25px;
  }

  @media (min-width: 1150px) {
    width: 30px;
    height: 30px;
  }
}

.hidden {
  background-color: green;
  cursor: pointer;
}

.hidden:hover {
  opacity: 0.8;
}

.revealed {
  background-color: rgb(67, 211, 75);
}

.water {
  background-color: aqua;
}

.flag {
  background-image: url('/assets/images/minesweeper_images/flag.png');
  width: 20px;
  height: 20px;
  background-size: cover;

  @media (min-width: 600px) {
    width: 25px;
    height: 25px;
  }

  @media (min-width: 1150px) {
    width: 30px;
    height: 30px;
  }
}

.messages {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.level__info {
  font-size: 16px;
}

.reset {
  font-size: 16px;
}
