<div class="wrapper">
  <h1>Hello in Minesweeper</h1>

  <div class="level__picker__wrapper">
    <button mat-button class="level__picker" (click)="start(1)">Easy</button>
    <button mat-button class="level__picker" (click)="start(2)">Medium</button>
    <button mat-button class="level__picker" (click)="start(3)">Hard</button>
  </div>
  @for (row of fields; track row; let rowIndex = $index) {
    <div class="row">
      @for (col of row; track col; let colIndex = $index) {
        <div
          [class]="'field ' + (hiddenFields[rowIndex][colIndex] == 1 ? 'hidden' : hiddenFields[rowIndex][colIndex] == -1 ? 'flag' : 'revealed') + ((isSuccess == -1 && fields[rowIndex][colIndex] == -1) ? ' bomb' : '')"
          (click)="revealField(rowIndex, colIndex)"
          (contextmenu)="setFlag(rowIndex, colIndex, $event)"
        >
          {{ hiddenFields[rowIndex][colIndex] == 1 ? "" : hiddenFields[rowIndex][colIndex] == -1 ? "" : col > 0 ? col : "" }}
        </div>
      }
    </div>
  }

  <div class="messages">
    @if (play) {
      <span class="level__info">
        Bombs: {{ this.bombs }}, Used flags: {{ this.flags }} <br>
      </span>
      <span class="level__info">
        Time {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}
      </span>
    }
    @if (isSuccess == 1) {
      <h1>You won</h1>
      <h3>Your score {{ youScore }}</h3>
      <h4>Your time {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}</h4>
      <button mat-stroked-button class='reset' (click)="start()">Start again?</button>
    }
    @if (isSuccess == -1) {
      <h1>You lost</h1>
      <button mat-stroked-button class='reset' (click)="start()">Start again?</button>
    }
  </div>
</div>
