:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level__picker__wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.level__picker {
  font-size: 20px;
}

.board {
  padding: 40px;
  background-color: aqua;
  border: 5px solid #74512D;
  border-radius: 10px;
}

.row {
  display: flex;
}

.field {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bomb {
  background-image: url('/assets/images/minesweeper_images/bomb.png');
}

.hidden {
  background-color: green;
  cursor: pointer;
}

.hidden:hover {
  opacity: 0.8;
}

.revealed {
  background-color: rgb(67, 211, 75);
}

.water {
  background-color: aqua;
}

.flag {
  background-image: url('/assets/images/minesweeper_images/flag.png');
}

.messages {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.level__info {
  font-size: 16px;
}

.reset {
  font-size: 16px;
}
